<html>
    <head>
        <meta charset="utf-8">
        <title> Django CMS</title>
        <style>
            .post_title {
                font-family: 微軟正黑體;
                font-size: 16pt;
                font-weight: bold;
            }
            .post_body {
                font-family: 微軟正黑體;
                font-size: 10pt;
                letter-spacing: 1pt;
            }
            .post_date {
                font-family: 微軟正黑體;
                font-size: 10pt;
            }
        </style>
    </head>
    <body>
        <h1> {{post.title}} </h1>
        <hr>
        <p class="post_content" >{{ post.content }}</p>
        <p class="post_date" >{{ post.pub_date }}</p>
        <hr>
        <h3><a href='/'> 回首頁 </a></h3>
    </body>
</html>