<div class="app-content-header">
    <div class="container-fluid"> 
        <div class="row">
            <div class="col-sm-6">
                <h3 class="mb-0">{{ pageTitle|default:"首頁"}}</h3>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">
                    {% if hasPageTitle is True  %}
                        <li class="breadcrumb-item"><a href="/">首頁</a></li>
                        <li class="breadcrumb-item active" aria-current="page">
                            {{ pageTitle|default:"首頁"}}
                        </li>
                    {% else  %}
                        <li class="breadcrumb-item active">首頁</li>
                    {% endif %}
                    
                </ol>
            </div>
        </div> 
    </div> 
</div> 